version: 2
jobs:
  build:
    docker:
      - image: circleci/golang
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: run tests
          command: |
            mkdir /tmp/test-results
            echo "" > coverage.txt
            for d in $(go list ./... | grep -v vendor); do
                go test -race -coverprofile=profile.out -covermode=atomic $d
                if [ -f profile.out ]; then
                    cat profile.out >> coverage.txt
                    rm profile.out
                fi
            done
      - run:
          name: post coverage
          command: |
            bash <(curl -s https://codecov.io/bash)
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destinitation: test-results
